name: Deploy to Vercel


on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: # 수동 실행 트리거 추가

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      #- name: Install dependencies
      #  run: npm install # 원래라면 vercel에서 자동 빌드 되어야하나 무료버전이라 GitHub Actions에서 빌드하는것으로 대체

      - name: Deploy to Vercel
        env: 
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }} 
        run: |
          npm install -g vercel
          vercel deploy \
            --token=$VERCEL_TOKEN \
            --prod \
            --yes
